fastapi==0.115.0
uvicorn==0.30.6

pydantic==2.9.2

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
joblib==1.4.2

sqlalchemy==2.0.35

python-multipart==0.0.9

opencv-python==4.10.0.84
mediapipe==0.10.14

python-dotenv==1.0.1

# Database & AI (Added during recent features)
pymongo
certifi
dnspython
google-genai